.home {

  // .border(); 

  #imgDiv {

    margin: 0 5% 5% 5%;

    border-bottom: 2px dashed @navigation-border;

    font-weight: bold;

    h2 {
      font-size: 4rem;

      padding-top: 2%;

      margin: 0;

      @media @mobile {

        font-size: 2rem;

        p {
          font-size: 1.6rem;
        }

      }

    }




  }

  // END #IMGDIV

  .middleSection {

    margin: 1% 5%;

    font-weight: bold;




  }

  // END .MIDDLESECTION

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;




    .text-content {
      width: 48%;
      padding-right: 1%;

    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }

    @media @mobile {

      // .border();

      display: flex;

      flex-direction: column;

      justify-content: center;

      align-items: center;

      padding: 0;

      margin: 0;

      font-size: 3rem;

      .text-content{

        width: 100%;

        padding: 1%;

        margin: 0;

        // .border();
      }

      .img-content{

        width: 100%;

        padding: 0;

        margin: 0;

        img{

          max-width: 100%;

          width: 100%;

          margin: 0;

          padding: 0;
        }
      }




    }


  }

  // END .CONTENT-SECTION

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    @media @mobile {

      // .border();

      display: flex;

      flex-direction: column-reverse;

      justify-content: center;

      align-items: center;
    }
  }

  // END INVERSE-CONTENT

  .content-destination {

    // .border();

    font-weight: bold;


    width: 100%;
    margin: 0;

    padding: 0 8% 2%;

    @media @mobile {

      width: 100%;

      padding: 4%;

    }

    img {
      border-radius: 10px;
    }

    .destinationPick {

      padding: 0 6%;

      @media @mobile {

        width: 100%;

        padding: 3% 0;

        margin: 0;        
      
      }
    }


  }

  //END .CONTENT-DESTINATION

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {

      flex-direction: column;

      padding: 3%;

      
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {

        width: 100%;

        justify-content: center;

        padding: 0 8%;

        margin: 3% 0;

       
      }

    }

  }

  // END .CONTENT-PICK

  #contentPick {

    // .border();

    margin: 0 7%;

    font-weight: bold;

    @media @mobile {

      margin: 0 4%;
      


    }

    .btn {

      .createBtn(@bgColor: @green, blue, aqua);

      @media @mobile {

        margin: 0;

        width: 100%;
      }

    }



  }

  // END #CONTENTPICK

}

// home